<div class="headerText">
  <h1>{{ header }}</h1>
  <h3>{{ message }}</h3>
</div>

<ul class="buttons">

<li>
    <a href="/adults" id="adultbut">
    <img src="./img/adults.png" alt="Adults Icon">
    <p>Adults</p>
    </a>
  </li>
  <li>
    <a href="/kids" id="kidbut">
    <img src="./img/kidszone.png" alt="Kids Icon">
    <p>Kids Zone</p>
    </a>
  </li>
</ul>
